<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/res/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/devis-auto.css">
    <link rel="stylesheet" href="/assets/css/style_navbar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
    <title>SCA assurances</title>

</head>
<body>
    
        <% include ../../../../partials/menus/_menu %>
        <% include ../../../../partials/messages/_flash_message %>

        <div class="main-container">
                <%= human %>
            <div class="valign-wrapper row login-box">
                <div class="col card hoverable s10 pull-s1 m10 pull-m1 l8 pull-l2">
                
                    <form id="devis-auto" action="/register" method="post" class="col s12">
                        <ul class="collapsible popout" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">person</i>Souscripteur</div>
                                
                                <div class="collapsible-body">
                                    <div id="sousripteur-item">
                                        <% if(locals.human){ %>  
                                            <div class="row">
                                                <div class="input-field col m2 s12">
                                                    <input disabled value="<%= human[0].civilite %>" name="civilite_souscripteur" id="disabled" type="text" class="validate">
                                                    <label for="disabled">Civilité</label>
                                                </div>
                                                <div class="input-field col m5 s12">
                                                    <input disabled value="<%= human[0].last_name %>" name="last_name_souscripteur" id="disabled" type="text" class="validate">
                                                    <label for="disabled">Nom</label>
                                                </div>
                                                <div class="input-field col m5 s12">
                                                    <input disabled value="<%= human[0].first_name %>" name="first_name_souscripteur" id="disabled" type="text" class="validate">
                                                    <label for="disabled">Prénom</label>
                                                </div>
                                                
                                            </div>
                                                <div class="row">
                                                    
                                                    <div class="input-field col m8 s12">
                                                        <input disabled value="<%= human[0].user_id.username %>"  name="email_souscripteur" id="disabled" type="email" class="validate">
                                                        <label for="disabled">Email</label>
                                                    </div>
                                                    <div class="input-field col m4 s12">
                                                        <input disabled value="<%= human[0].tel %>"  name="tel_souscripteur" id="disabled" type="tel" class="validate">
                                                        <label for="disabled">Téléphone</label>
                                                    </div>
                                                    <div class="input-field col m4 s12">
                                                        <input disabled value="<%= human[0].num_street %>" name="numero_adresse_souscripteur" id="disabled" type="text" class="validate">
                                                        <label for="disabled">N°</label>
                                                    </div>
                                                    <div class="input-field col m8 s12">
                                                        <input disabled value="<%= human[0].name_street %>" name="adress_souscripteur" id="disabled" type="text" class="validate">
                                                        <label for="disabled">Adresse</label>
                                                    </div>
                                                    <div class="input-field col m12 s12">
                                                        <input disabled value="<%= human[0].more_street %>" name="more_adress_souscripteur" id="disabled" type="text" class="validate">
                                                        <label for="disabled">Complément d'adresse</label>
                                                    </div>
                                                    <div class="row">
                                                    
                                                        <div class="input-field col m4 s12">
                                                            <input disabled value="<%= human[0].code %>" name="code_adress_souscripteur" id="disabled" type="text" class="validate">
                                                            <label for="disabled">Code postal</label>
                                                        </div>
                                                        <div class="input-field col m8 s12">
                                                            <input disabled value="<%= human[0].city %>" name="city_souscripteur" id="disabled" type="text" class="validate">
                                                            <label for="disabled">Ville</label>
                                                        </div>
                                                    </div>
                                                </div>
                                        <% } %>  
                                    </div>
      
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">people</i>Conducteurs</div>
                                <div class="collapsible-body">
                                    <div id="conducteur-data">
                                        <div class="switch valign-wrapper switch-zone">
                                            <label>
                                                
                                                <input class="conducteur_me" type="checkbox">
                                                <span class="lever"></span>
                                                Je ne suis pas conducteur
                                            </label>
                                        </div>
                                        <h5>Liste des conducteurs</h5>
                                            <div id="<%= human[0]._id %>" >
                                                <div id="conducteur_0" class="conducteur_for_me">
                                                    <div  class="conducteur-item">
                                                        <div class="switch-zone">
                                                            <div class="switch valign-wrapper">
                                                                    <label>
                                                                
                                                                        <input id="0" name="conducteur_principal" class="me conducteur-item_input" type="checkbox">
                                                                        <span class="lever"></span>
                                                                        Conducteur principal
                                                                    </label>
                                                                </div>
                                                        </div>
                                                        <div class="row">
                                                            
                                                            <div class="input-field col m2 s12">
                                                                <input disabled value="<%= human[0].civilite %>" name="civilite_conducteur"  type="text" class="conducteur-item_input">
                                                                <label for="disabled">Civilité</label>
                                                            </div>
                                                            <div class="input-field col m5 s12">
                                                                <input disabled value="<%= human[0].last_name %>" name="last_name_conducteur"  type="text" class="conducteur-item_input">
                                                                <label for="disabled">Nom</label>
                                                            </div>
                                                            <div class="input-field col m5 s12">
                                                                <input disabled value="<%= human[0].first_name %>" name="first_name_conducteur" type="text" class="conducteur-item_input">
                                                                <label for="disabled">Prénom</label>
                                                            </div>
                                                            <div class="input-field col m12 s12">
                                                                <input disabled name="bday_conducteur" type="text" class="datepicker conducteur-item_input">  
                                                                <label for="date_naissance">Date de naissance</label>
                                                            </div>
                                                            <div class='input-field col s12 m6 l6'>
                                                                <select disabled name='situation_pro' id="situation_pro" class="conducteur-item_input">
                                                                    <option value="<%= human[0].situation_pro %>" selected><%= human[0].situation_pro %></option>
                                                                    <option value="Artisan">Artisan</option>
                                                                    <option value="Exploitant agricole">Exploitant agricole</option>
                                                                    <option value="Profession libérale">Profession libérale</option>
                                                                    <option value="Chef d'entreprise">Chef d'entreprise</option>
                                                                    <option value="Salarié">Salarié</option>
                                                                    <option value="Fonctionnaire">Fonctionnaire</option>
                                                                    <option value="Sans profession">Sans profession</option>
                                                                    <option value="Retraité">Retraité</option>
                                                                    <option value="Recherche d'emploi">Recherche d'emploi</option>
                                                                    <option value="Ecclasiastique">Ecclasiastique</option>
                                                                </select>
                                                                    <label>Situation Profésionnelle</label>
                                                            </div>
                                                            <div class='input-field col s12 m6 l6'>
                                                                <select disabled name='situation_fam' id='situation_fam' class="conducteur-item_input">
                                                                    <option value="<%= human[0].situation_fam %>" selected><%= human[0].situation_fam %></option>
                                                                    <option value='Célibataire'>Célibataire</option>
                                                                    <option value='Concubinage'>Concubinage</option>
                                                                    <option value='Marié'>Marié</option>
                                                                    <option value='Séparer'>Séparer</option>
                                                                    <option value='Divorcé'>Divorcé</option>
                                                                    <option value='Veuf'>Veuf</option>
                                                                    <option value='Pacs'>Pacs</option>
                                                                </select>
                                                                    <label>Situation familiale</label>
                                                            </div>
                                                            <div class="switch valign-wrapper switch-zone col m12 s12">
                                                                <label>
                                                            
                                                                    <input name="conduite_accompagne" id="conduite_accompagne_principal" class="conducteur-item_input" type="checkbox">
                                                                    <span class="lever"></span>
                                                                    Conduite accompagné
                                                                </label>
                                                            </div>
                                                            <div class="input-field col m12 s12">
                                                                <input name="date_obtention" type="text" class="datepicker permis_item conducteur-item_input">  
                                                                <label for="date_obtention">Date d'obtention du permis</label>
                                                            </div>
                                                            <div class="input-field col m12 s12">
                                                                <input name="bday_permis" type="text" class="datepicker permis_item conducteur-item_input">  
                                                                <label for="date_permis">Nouvelle de permis si annulation</label>
                                                            </div>
                                                            <div class='input-field col s12 m12 l12'>
                                                                <select name='lieu_obtention' id='lieu_obtention' class="permis_item conducteur-item_input">
                                                                    <option value="France" selected>France</option>
                                                                    <option value='EEE'>EEE</option>
                                                                    <option value='Hors EEE'>Hors EEE</option>
                                                                </select>
                                                                    <label>Lieu d'obtention du permis</label>
                                                            </div>
                                                            <div class="row">
                                                                <h5>Les antécédents d'assurance</h5>
                                                                <h6>(Au cours des 3 dérnières années)</h6>
                                                                <label>Déja été assuré?</label>
                                                                <div class="switch valign-wrapper col m12 s12">
                                                                    <label>
                                                                        Non
                                                                        <input name="antecedant_assurance" class="antecedant_assurance_item conducteur-item_input" type="checkbox">
                                                                        <span class="lever"></span>
                                                                        Oui
                                                                    </label>
                                                                </div>
                                                                <p>Si oui, répartir les mois d'assurance par période</p>
                                                                <div class="input-field col m4 s12">
                                                                    <input disabled value="0" name="0_12"  type="text" class="antecedant_assurance_item conducteur-item_input">
                                                                    <label for="disabled">0 - 12 mois</label>
                                                                </div>
                                                                <div class="input-field col m4 s12">
                                                                    <input disabled value="0" name="13_24"  type="text" class="antecedant_assurance_item conducteur-item_input">
                                                                    <label for="disabled">13 - 14 mois</label>
                                                                </div>
                                                                <div class="input-field col m4 s12">
                                                                    <input disabled value="0" name="25_36"  type="text" class="antecedant_assurance_item conducteur-item_input">
                                                                    <label for="disabled">15 - 36 mois</label>
                                                                </div>
                                                                
                                                                <label>Avez-vous été résilié?</label>
                                                                <div class="switch valign-wrapper col m12 s12">
                                                                    <label>
                                                                        Non
                                                                        <input name="antecedant_assurance" class="antecedant_assurance_item conducteur-item_input" type="checkbox">
                                                                        <span class="lever"></span>
                                                                        Oui
                                                                    </label>
                                                                </div>
                                                                <label>Pour quelle motifs:</label>
                                                                <div class='input-field col s12 m12 l12'>
                                                                    <select name='alcool_stup' id='alcool_stup' class="antecedant_assurance_item conducteur-item_input">
                                                                        <option value="Non" selected>Non</option>
                                                                        <option value='Oui'>Oui</option>
                                                                    </select>
                                                                        <label>Résiliation pour Alcoolémie ou usage de stupéfiant</label>
                                                                </div>
                                                                <div class='input-field col s12 m12 l12'>
                                                                    <select name='sinistre' id='sinistre' class="antecedant_assurance_item conducteur-item_input">
                                                                        <option value="Non" selected>Non</option>
                                                                        <option value='Oui'>Oui</option>
                                                                    </select>
                                                                        <label>Résiliation pour sinistre</label>
                                                                </div>
                                                                
                                                                <div class='input-field col s12 m12 l12'>
                                                                    <select name='non_paiement' id='non_paiement' class="antecedant_assurance_item conducteur-item_input">
                                                                        <option value="Non" selected>Non</option>
                                                                        <option value='Oui'>Oui</option>
                                                                    </select>
                                                                        <label>Résiliation pour Non-paiement</label>
                                                                </div>
                                                                
                                                                <div class='input-field col s12 m12 l12'>
                                                                    <select name='name_assureur' id='name_assureur' class="antecedant_assurance_item conducteur-item_input">
                                                                        <option value="AXA" selected>AXA</option>
                                                                    </select>
                                                                        <label>Non du précédent assureurs</label>
                                                                </div>
                                                                <div class='input-field col s12 m12 l12'>
                                                                    <select name='precedent_assureur_solde' id='precedent_assureur_solde' class="antecedant_assurance_item conducteur-item_input">
                                                                        <option value="Non" selected>Non</option>
                                                                        <option value='Oui'>Oui</option>
                                                                    </select>
                                                                        <label>Contentieux soldé</label>
                                                                </div>
                                                                <div class='input-field col s12 m12 l12'>
                                                                    <select name='fausse_declaration' id='fausse_declaration' class="antecedant_assurance_item conducteur-item_input">
                                                                        <option value="Non" selected>Non</option>
                                                                        <option value='Oui'>Oui</option>
                                                                    </select>
                                                                        <label>Résiliation pour fausse déclaration</label>
                                                                </div>
                                                                <div class='input-field col s12 m12 l12'>
                                                                    <select name='defaut_pieces' id='defaut_pieces' class="antecedant_assurance_item conducteur-item_input">
                                                                        <option value="Non" selected>Non</option>
                                                                        <option value='Oui'>Oui</option>
                                                                    </select>
                                                                        <label>Résiliation pour défaut de pièces</label>
                                                                </div>
                                                                <div class='input-field col s12 m12 l12'>
                                                                    <select name='nullite_contrat' id='nullite_contrat' class="antecedant_assurance_item conducteur-item_input">
                                                                        <option value="Non" selected>Non</option>
                                                                        <option value='Oui'>Oui</option>
                                                                    </select>
                                                                        <label>Résiliation pour nullité de contrat</label>
                                                                </div>
                                                                <div class='input-field col s12 m12 l12'>
                                                                    <select name='autres' id='autres' class="antecedant_assurance_item conducteur-item_input">
                                                                        <option value="Non" selected>Non</option>
                                                                        <option value='Oui'>Oui</option>
                                                                    </select>
                                                                        <label>Autres</label>
                                                                </div>
                                                            </div>
                                                            <div class="input-field col m12 s12">
                                                                <input name="civilite_conducteur" type="number" class="conducteur-item_input">
                                                                <label for="disabled">Nombre d'infraction sur un periode de 3ans</label>
                                                            </div>
                                                            <div class="row infractions">
                                                                <div class="col m6 s12">
                                                                    <div class='input-field col s12 m12 l12'>
                                                                        <select name='type_infraction' id="infraction_0" class="type_infraction infraction_item conducteur-item_input">
                                                                            <option value="alcool" selected>Alcoolémie</option>
                                                                            <option value="stupefiant">Usage de stupéfiant</option>
                                                                            <option value="point">Défaut de point</option>
                                                                            <option value="delit_fuite">Délit de fuite</option>
                                                                            <option value="defaut_assurance">Défaut d'assurance</option>
                                                                            <option value="refus_dobtempérer">Refus d'obtempérer</option>
                                                                            <option value="Autre">Autre</option>
                                                                        </select>
                                                                            <label>Pour quel motifs?</label>
                                                                    </div>
                                                                    <div class="sanction_item"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div id="list_autres_conducteurs"></div>
                                    </div>
                                    <a id="trigger-button-conducteur" class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">add</i></a>
                                </div>
                               
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">directions_car</i>Véhicule</div>
                                <div class="collapsible-body">
                                    <div id="vehicule_data">
                                        <div class="row">
                                                <div class="input-field col m6 s12">
                                                        <input value="" name="marque"  type="text" class="">
                                                        <label for="marque">Marque</label>
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <input value="" name="modele"  type="text" class="">
                                                    <label for="modele">Modèle</label>
                                                </div>
                                                <div class="input-field col m4 s12">
                                                    <input value="" name="nbr_cv"  type="text" class="">
                                                    <label for="nbr_cv">Nombre de CV</label>
                                                </div>
                                                <div class="input-field col m4 s12">
                                                    <input value="" name="type_vehicule"  type="text" class="">
                                                    <label for="type_vehicule">Type</label>
                                                </div>
                                                <div class="input-field col m4 s12">
                                                    <input value="" name="energie"  type="text" class="">
                                                    <label for="energie">Energie</label>
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <input name="date_1ere_circulation" type="text" class="datepicker">  
                                                    <label for="date_1ere_circulation">Date 1ère mise en circulation</label>
                                                </div>
                                                <div class="input-field col m4 s12">
                                                    <input value="" name="immatriculation"  type="text" class="">
                                                    <label for="immatriculation">Immatriculation</label>
                                                </div>
                                                <div class="switch valign-wrapper col m12 s12">
                                                    <label>
                                                
                                                        <input name="immatriculation_etrangere" id="immatriculation_etrangere" class="" type="checkbox">
                                                        <span class="lever"></span>
                                                        Immatriculation étrangère / diplomatique
                                                    </label>
                                                </div>
                                                <div class="input-field col m12 s12">
                                                    <input value="" name="date_achat"  type="text" class="">
                                                    <label for="date_achat">Date d'achat</label>
                                                </div>                                                        
                                                <div class='input-field col s12 m6 l12'>
                                                    <select name='mode_aquisition' id='mode_aquisition' class="">
                                                        <option value="Comptant - crédit" selected>Comptant - crédit</option>
                                                        <option value='LOA-LLD'>LOA-LLD</option>
                                                    </select>
                                                        <label>Mode d'acquisition</label>
                                                </div>
                                                <div class='input-field col s12 m6 l12'>
                                                    <select name='usage_vehicule' id='usage_vehicule' class="">
                                                        <option value="Vie privée - promenade" selected>Vie privée - promenade</option>
                                                        <option value='Vie privée et affaire - commerce'>Vie privée et affaire - commerce</option>
                                                        <option value='Vie privée + Trajet travail'>Vie privée + Trajet travail</option>
                                                        <option value='Tous déplacement'>Tous déplacement</option>
                                                    </select>
                                                        <label>Usage du vehicule</label>
                                                </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
        
                    </form>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include ../../../../partials/footers/_footer %>
    <!-- Scripts -->
        <script type="text/javascript" src="/res/materialize-css/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="/assets/js/devis/devis.auto.script.js"></script>
    </body>
</html>